.side-bar
    .side-bar-item(class="hello" id="sidebar-hello") 
        .side-bar-item-icon
            span(class="iconmoon icon-shopping-store")
        .side-bar-menu
            .side-bar-menu-item
                span(class="iconmoon icon-shopping-store")
                span.text-title Say Hello !  