extends ../../core/main.pug

block wrapper
  link(rel="stylesheet" href="/css/design-system/home/home.css")

  .flex(style="display: flex; justify-content: center; align-item: center; flex-direction: column; text-align: center;")
    h1 Hello world
    h2 Vous pouvez editer les informations a votre convenance !

  script(src="/js/design-system/home/home.js" type="module") 